<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.leonti.fitmaestro"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".FitMaestro"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


	<activity android:label="@string/app_name" android:name=".GroupEdit"></activity>
	<activity android:label="@string/app_name" android:name=".ExerciseEdit"></activity>
	<activity android:label="@string/app_name" android:name=".WorkoutsList"></activity>
	<activity android:label="@string/app_name" android:name=".WorkoutEdit"></activity>
	<activity android:label="@string/app_name" android:name=".ExercisesList"></activity>
	<activity android:label="@string/app_name" android:name=".WorkoutView"></activity>
	<activity android:label="@string/app_name" android:name=".Register"></activity>
	<activity android:label="@string/app_name" android:name=".Login"></activity>
	<activity android:label="@string/app_name" android:name=".SynchronizationView"></activity>
	<activity android:label="@string/app_name" android:name=".RepsList"></activity>
	<activity android:label="@string/app_name" android:name=".ProgramsList"></activity>
	<activity android:label="@string/app_name" android:name=".ProgramEdit"></activity>
	<activity android:label="@string/app_name" android:name=".ProgramView"></activity>   
	<activity android:label="@string/app_name" android:name=".SessionsList"></activity>
	<activity android:label="@string/app_name" android:name=".SessionEdit"></activity> 
	<activity android:label="@string/app_name" android:name=".SessionView"></activity>
	<activity android:label="@string/app_name" android:name=".SessionRepsList"></activity>
	<activity android:label="@string/app_name" android:name=".MeasurementsList"></activity>
	<activity android:label="@string/app_name" android:name=".MeasurementEdit"></activity>
	<activity android:label="@string/app_name" android:name=".MeasLogEntries"></activity>
	<activity android:label="@string/app_name" android:name=".SessionTabs"></activity>
	<activity android:label="@string/app_name" android:name=".Account"></activity>
	<activity android:label="@string/app_name" android:name=".Downloads"></activity> 
	<activity android:label="@string/app_name" android:name=".ImportExercises"></activity>      
	<activity android:label="@string/app_name" android:name=".ImportPrograms"></activity>   
	<activity android:label="@string/app_name" android:name=".Statistics"></activity>   
	<activity android:label="@string/app_name" android:name=".StatsList"></activity>   
	<activity android:label="@string/app_name" android:name=".Chart"></activity> 
</application>
    <uses-sdk android:minSdkVersion="3" />

    <uses-permission android:name="android.permission.INTERNET">
</uses-permission>
</manifest> 